name: Analise-de-Vendas-CI

on:
  push:
    branches: [ '*' ]
  pull_request:
    branches: [ '*' ]

jobs:
  CI:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
    - uses: actions/checkout@v4.2.2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3.8.0
    
    - name: Docker Login
      uses: docker/login-action@v3.3.0
      with:
        username: ${{ secrets.DOCKERHUB_USER }}
        password: ${{ secrets.DOCKERHUB_PWD }}
    
    - name: Build Docker Image
      uses: docker/build-push-action@v6.12.0
      with:
        context: .
        file: ./Dockerfile
        push: true
        tags: kir97/analise-vendas

  CD:
    runs-on: ubuntu-latest
    needs: [CI]

    steps:
    - name: Install Flyctl CLI
      run: |
        curl -L https://fly.io/install.sh | sh
        export PATH="$HOME/.fly/bin:$PATH"

    - name: Authenticate with Fly.io
      run: |
        flyctl auth token "${{ secrets.FLY_API_TOKEN }}"

    - name: Deploy to Fly.io
      run: |
        flyctl deploy --remote-only
